/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
 COLORS

color1: #edebd7
color2: #423e37
color3: #6e675f
color4: #e3b23c
color5: #a39594
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
