


.car-of-week-hero {
  position: relative;
  height: 112vh;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
   clip-path: polygon(
    0% 0%,
    /* top-left corner */ 100% 0%,
    /* top-right corner */ 100% 90%,
    /* right side down before step */ 95% 100%,
    /* step up */ 85% 100%,
    /* flat */ 80% 90%,
    /* step down */ 70% 90%,
    65% 100%,
    /* step up */ 35% 100%,
    30% 90%,
    /* step down */ 20% 90%,
    15% 100%,
    /* step up */ 5% 100%,
    /* flat */ 0% 90% /* step down before closing */
  );
}

/* Curtain panels */
.curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #423e37;
  z-index: 2;
  transition: transform 1s ease;
}

.curtain.left { left: 0; transform: translateX(0); }
.curtain.right { right: 0; transform: translateX(0); }

.curtain.left.open { transform: translateX(-100%); }
.curtain.right.open { transform: translateX(100%); }

/* Text overlay */
.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: black;
  text-align: center;
  font-style: normal;
   filter: drop-shadow(5px 5px 15px #e3b23c);
   
}

.hero-text h1 { font-size: 5rem;font-family: "Rubik Dirt", system-ui;
  font-weight: 400; }
.hero-text p { font-size: 1rem;font-family: "Rubik Dirt", system-ui;
  font-weight: 400; }

/* Details under (at bottom) */
.hero-details {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
  color: #edebd7;
  z-index: 3;
}

.hero-details h2 { font-size: 2.5rem; margin-bottom: 5px; filter: drop-shadow(0 20px 40px black); }
.hero-details p { font-size: 1rem; }


/* Show grids */
.show-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.car-card { margin-bottom: 15px; text-align: center; }
.car-card img { width: 100%; max-width: 200px; border-radius: 5px; }

.show-components {
  padding: 8%;
}

@media (max-width: 768px) {
  
  .car-of-week-hero {
     clip-path: polygon(
  0% 95%,
  5% 100%,
  15% 100%,
  20% 95%,
  30% 95%,
  35% 100%,
  65% 100%,
  70% 95%,
  80% 95%,
  85% 100%,
  95% 100%,
  100% 95%,
  100% 0%,
  0% 0%
);
/* height: 100vh; */
  }
   .hero-details {
    bottom: 10%;
   }
  .hero-details h2 { font-size: 1.8rem;}

}
