/* body {
  margin: 0;
  background-color: #423e37;
  color: #edebd7;
  overscroll-behavior: none;
  overflow-x: hidden;
} */

#wrapper {
  overflow: hidden;
  position: fixed;
  /* height: 100%; */
  width: 100%;
  inset: 0;
  /* margin: 0; */
  background-color: #423e37;
  color: #edebd7;
  /* overscroll-behavior: none; */
  overflow-x: hidden;
}

#content {
  width: 100%;
}

.text {
  position: fixed;
  top: 30vh;
  font-weight: 900;

  font-size: 8vw;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  color: #edebd7;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #edebd7;
  z-index: -2;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #edebd7;
  z-index: 2;
}

.filter-text {
  mix-blend-mode: screen;
  color: #e3b23c;
  z-index: 2;
}

/* Grid for cards */
.cards {
  padding-top: 38vh;
  display: grid;
  grid-template-columns: repeat(20, 2%);
  grid-template-rows: repeat(30, 3%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  min-height: 150vh;
  height: 100%;
}

.card {
  background: #292538;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 25px #e3b23c;
  overflow: hidden;
  width: 350px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}
