.motionBack {
  background-color: #6e675f;
  position: absolute;
  width: 100%;
  height: 100%;
}
.firstLayer {
  height: 112vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.divHero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroAvticiki {
  clip-path: polygon(
    0% 0%,
    /* top-left corner */ 100% 0%,
    /* top-right corner */ 100% 90%,
    /* right side down before step */ 95% 100%,
    /* step up */ 85% 100%,
    /* flat */ 80% 90%,
    /* step down */ 70% 90%,
    65% 100%,
    /* step up */ 35% 100%,
    30% 90%,
    /* step down */ 20% 90%,
    15% 100%,
    /* step up */ 5% 100%,
    /* flat */ 0% 90% /* step down before closing */
  );
}

.fancy-div {
  /* height: 1000px; */
  background-color: #6e675f;
}

@media (max-width: 768px) {
  .heroAvticiki {
    clip-path: polygon(
      0% 0%,
      /* top-left */ 100% 0%,
      /* top-right */ 100% 95%,
      /* right side down before step */ 97% 98%,
      /* step up */ 93% 98%,
      /* flat */ 90% 95%,
      /* step down */ 88% 98%,
      /* bottom peak */ 60% 98%,
      /* step up */ 55% 95%,
      /* step down */ 45% 95%,
      /* step down */ 40% 98%,
      /* bottom peak */ 20% 98%,
      /* step up */ 15% 95%,
      /* step down */ 0% 95% /* closing left side */
    );
    height: 90vh;
  }
  .firstLayer {
    background-color: #6e675f;
  }
}
