.buttonMore {
  position: absolute;
  bottom: 18%;
  right: 15%;
}

.sectionScroll {
  background-image: url("../../images/avticikiBre-images/road228.png");
  background-size: cover;
  background-position: center;
}
.divStop {
  height: 270px;
  background-image: url("../../images/avticikiBre-images/youtube.jpg");
  background-position: center;
  background-size: cover;
}
