.buttonMore {
  position: absolute;
  bottom: 18%;
  right: 15%;
}

.buttonMoreMob {
  display: none;
}

/* .sectionScroll {
  /* background-image: url("../../images/avticikiBre-images/road11.png");
  /* background-size: cover; */
/* background-position: center;
  background-repeat: no-repeat;  */

.divStop {
  height: 270px;
  background-image: url("../../images/avticikiBre-images/youtube.jpg");
  background-position: center;
  background-size: cover;
}
.bluecarimage {
  width: 220px;
  height: auto;
  position: absolute;
  top: 0;
  left: 42.1%;
  filter: drop-shadow(5px 5px 15px #e3b23c);
}

@media (max-width: 768px) {
  .bluecarimage {
    width: 180px;
    left: 23.6%;
  }
  .buttonMore {
    display: none;
  }
  .divStop {
    background-position: top center;
    background-size: 170%;
    background-repeat: no-repeat;
    height: 108px;
  }
  .buttonMoreMob {
    display: block;
    position: absolute;
    bottom: 2.5%;
    right: 32%;
  }
}
