.divStopTwo {
  height: 270px;
  background-image: url("../../images/avticikiBre-images/wallcar1.jpg");
  background-position: center;
  background-size: cover;
}

.buttonMore {
  position: absolute;
  bottom: 15%;
  right: 15%;
}

.yellowCarImage {
  position: absolute;
  top: 0;
  left: 10%;
  width: 220px;
  height: auto;
}
/* .sectionTwoScroll {
    background-image: url("../../images/avticikiBre-images/road11.png");
  background-size: 36.2% 70%;
  background-position:left center;
  background-repeat: no-repeat;
} */

@media (max-width: 768px) {
  .yellowCarImage {
    width: 170px;
    left: 1%;
  }
}
