.divStopTwo {
  height: 270px;
  background: linear-gradient(to bottom, #6e675f, #edebd7);
}

.buttonMoreTwo {
  position: absolute;
  bottom: 4%;
  right: 17%;
}

.buttonMoreTwoMob {
  display: none;
}

.yellowCarImage {
  position: absolute;
  top: 0;
  left: 10%;
  width: 220px;
  height: auto;
}
.sectionTwoScroll {
    background-image: url("../../images/avticikiBre-images/road11.png");
  background-size: 36.2% 70%;
  background-position:left center;
  background-repeat: no-repeat;
}
.text-card-model {
  padding: 1rem  1rem;
  text-align: center;
  font-weight: bolder;
  
}

@media (max-width: 768px) {
  .yellowCarImage {
    width: 165px;
    left: -4%;
  }

  .divStopTwo {
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 184px;
  }

  .buttonMoreTwo {
    display: none
  }

  .buttonMoreTwoMob {
    display: block;
   position: absolute;
    bottom: 14%;
   right: 11%;
   
  }
  .text-card-model {
  
    font-size: 12px;
   padding: 0.4rem 1rem;
   margin-bottom: 4%;
  }
}