.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.first-info {
  background-color: #edebd7;
  padding: 4%;
  border-bottom: 6px solid #423e37;
  height: 103vh;
}

.first-info-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left-text {
  width: 34%;
}
.right-text {
  width: 48%;
}

.left-text h1 {
  text-transform: uppercase;
  color: #423e37;
}
.right-text h3 {
  text-transform: uppercase;
  color: #423e37;
  font-size: 25px;
  padding-bottom: 5%;
}
.right-text span {
  color: #6e675f;
}
.right-text p {
  font-size: 19px;
  color: #423e37;
}

.about-hobby {
  border-left: 4px solid #a39594;
  padding-left: 2%;
}
.collectImagesMob {
  display: none;
}

@media (max-width: 1024px) {
  .first-info-wrap {
    display: block;
    gap: 10px;
  }

  .left-text {
    width: 80%;
    font-weight: bold;
  }
  .right-text {
    width: 80%;
  }
  .first-info {
    height: 750px;
  }

  .left-text h1 {
    font-size: 22px;
  }

  .right-text h3 {
    font-size: 19px;
  }

  .right-text p {
    font-size: 17px;
  }
  .collectImages {
    display: none;
  }
  .collectImagesMob {
    display: block;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .first-info-wrap {
    display: block;
    align-content: center;
    gap: 15px;
  }

  .left-text {
    width: 80%;
    font-weight: bold;
  }
  .right-text {
    width: 8%0%;
  }
  .first-info {
    height: 750px;
  }
  .left-text h1 {
    font-size: 20px;
    padding-bottom: 6%;
    padding-top: 3%;
    font-weight: bold;
  }
  .right-text h3 {
    font-size: 18x;
  }
  .right-text p {
    font-size: 16px;
    padding-top: 4%;
  }
  .collectImages {
    display: none;
  }
  .collectImagesMob {
    display: block;
  }
}
