.eventsMain {
  height: 670dvh;
  background-color: #edebd7;
  padding-top: 5%;
}

.eventsMain h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
  color: black;
  overflow: hidden;
  justify-content: center;
  filter: drop-shadow(5px 5px 15px #e3b23c);
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 769px) {
  .eventsMain {
    height: 390vh;
  }
}

@media (max-width: 426px) {
  .eventsMain {
    height: 210vh;
  }

  .eventsMain h1 {
    font-size: 2.2rem;
   
  }
}
