.wrapFooter {
  background-color: #edebd7;
}
.footer {
  background-color: #a39594;
  text-align: center;
  /* position: relative; */
  clip-path: polygon(
    0% 10%,
    /* step down before closing (was bottom, now top) */ 5% 0%,
    /* step up */ 15% 0%,
    /* flat */ 20% 10%,
    /* step down */ 30% 10%,
    /* step up */ 35% 0%,
    /* step up */ 65% 0%,
    /* step up */ 70% 10%,
    /* step down */ 80% 10%,
    /* flat */ 85% 0%,
    /* step up */ 95% 0%,
    /* step up */ 100% 10%,
    /* right side down before step */ 100% 100%,
    /* bottom-right corner */ 0% 100% /* bottom-left corner */
  );
}

.footer-content {
  /* background-image: url("../../images/avtoce1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* width: 98%; */
  height: 90vh;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
}
/* .footer-silhouette img {
  margin-top: -40%;
  margin-bottom: -39%;
} */
/* .footer {
  background-color: #1d1d1d;
  color: #f0f0f0;
  padding: 40px 20px 20px;
  text-align: center;
} */

/* .footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
} */

/* Navbar links */
.footer-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  /* padding-bottom: 10%; */
}

.footer-nav li a {
  color: #edebd7;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav li a:hover {
  color: #e3b23c;
}

/* Social icons */
.footer-social {
  width: 300px;
  height: 220px;
  display: flex;
  gap: 15px;
  /* position: absolute; */
  background-image: url("../../images/avtoce1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* top: -90%; */
}

.footer-social a {
  color: #edebd7;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  font-size: 40px;
}

.footer-social a:hover {
  color: #e3b23c;
}

.logofooter img {
  width: 500px;
  height: auto;
  /* position: absolute;
  top: -130%;
  left: 35%; */
}

/* Subscription form */
.footer-subscribe h2 {
  /* margin-bottom: 10px; */
  color: #423e37;
}

.footer-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-form input {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  min-width: 220px;
  font-size: 1rem;
}

.footer-bottom {
  /* margin-top: 10px; */
  font-size: 0.9rem;
  /* opacity: 0.8; */
  color: #edebd7;
}
