#sectionOne {
  height: 750px;
  background-color: #423e37;
}

.logodiv {
  display: flex;
  justify-content: center;
}

.logodiv img {
  width: 65%;
  height: auto;
  filter: drop-shadow(5px 5px 15px #edebd7);
  margin-top: 4%;
}

.bg-cars {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: center;
}

.inner-box {
  background-color: rgba(39, 40, 51, 0.85);
  position: absolute;
  height: 89.2%;
  width: 35%;
  padding: 80px 40px 0px 60px;
  color: #edebd7;
  line-height: 1.7;
}

.inner-box.state-right {
  right: 0;
  border-left: 5px solid #e3b23c;
}

.inner-box.state-left {
  left: 0;
  border-right: 5px solid #e3b23c;
}

.inner-box h2 {
  max-width: 80%;
}
.car1 {
  background-image: url("/src/images/IMG_4566.JPG");
}

.car2 {
  background-image: url("/src/images/IMG_4593.JPG");
}

.car3 {
  background-image: url("/src/images/IMG_4637.JPG");
}

.advert {
  height: 1200px;
  background-color: #edebd7;
}
.carButtonMob {
  display: none;
}

@media (max-width: 1024px) {
  .inner-box {
    width: 25%;
    padding: 60px 20px 0px 40px;
    height: 100vh;
  }
  .inner-box h2 {
    font-size: 12px;
  }
  .inner-box p {
    font-size: 10px;
  }
  .carButton {
    display: none;
  }
  .carButtonMob {
    display: block;
  }
}

@media (max-width: 768px) {
  .inner-box {
    width: 30%;
    padding: 60px 20px 0px 40px;
    height: 100vh;
  }
  .inner-box h2 {
    font-size: 12px;
  }

  .inner-box p {
    font-size: 9px;
  }

  .carButton {
    display: none;
  }
  .carButtonMob {
    display: block;
  }
}
