.container23 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-image23,
.fg-image23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  will-change: opacity, transform;
}

.panel23 {
  height: 300px;
  background-color: #a39594;
  text-align: center;
}
.panel23 p {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  padding-top: 5%;
  font-size: 25px;
}
