.motionBackMob {
  display: none;
}

@media (max-width: 1024px) {
  .motionBackMob {
    display: block;
  }
  .motionBack {
    display: none;
  }
}

@media (max-width: 768px) {
  .motionBackMob {
    display: block;
  }
  .motionBack {
    display: none;
  }
  .backMotion {
    height: 120vh;
  }
}
