.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navHero {
  height: 250px;
  /* background-color: #423e37; */
}

.subtitleButtons {
  padding: 1.5%;
}

.navBar {
  padding-top: 2%;
}

.navBar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.navBar ul li {
  padding: 15px;
}

li a {
  text-decoration: none;
  color: #edebd7;
  font-weight: bold;
}

li a.active {
  color: #e3b23c;
}

li a:hover {
  text-decoration: 2px #e3b23c underline;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #edebd7;
  margin: 4px 0;
  transition: 0.3s;
}

/* Mobile menu overlay */
.mobileMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.95);
  padding-top: 60px;
  text-align: center;
  z-index: 10;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.mobileMenu.show {
  display: block;
  transform: translateX(0);
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
}

.mobileMenu ul li {
  margin: 20px 0;
}

.mobileMenu ul li a {
  color: #edebd7;
  font-size: 20px;
  text-decoration: none;
}

.mobileMenu ul li a:hover {
  color: #e3b23c;
}

@media (max-width: 1024px) {
  .hamburger {
    display: flex;
  }

  /* Hide desktop navbar only when hamburger is visible */
  .navBar {
    display: none;
  }

  .navHero {
    height: 250px;
  }

  .subtitleButtons {
    padding: 3%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  /* Hide desktop navbar only on mobile */
  .navBar {
    display: none;
  }
  .navHero {
    height: 250px;
  }
}
