.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navHero {
  background-image: url("/src/images/heroback.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.subtitleButtons {
  padding: 10px;
}
.subtitleButtons button {
  color: #ffc935;
  border: 3px solid #f7eadf;
  padding: 8px;
  margin: 3px;
  background-color: black;
  border-radius: 10px;
}
.subtitleButtons button:hover {
  cursor: pointer;
  background-color: #f7eadf;
  color: black;
  border: 3px solid #ffc935;
}

.navBar {
  margin-top: 13.5%;
}

.navBar ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
.navBar ul li {
  padding: 15px;
}
li a {
  text-decoration: none;
  color: #f7eadf;
}
li a.active {
  text-decoration: none;
  color: #ffc935;
}
li a:hover {
  text-decoration: 2px #ffc935 underline;
}
