* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.section {
  overflow: hidden;
 
}

.wrapper {
  height: 100vh;
  
  
}

.list {
  height: 100%;
  display: flex;
  position: relative;
}

.item {
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  
}


.item_content {
  width: 50%;
 background-color: rgba(39, 40, 51, 0.6);
 position: absolute;
 height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.item_content h2 {
    color:#edebd7
}



.item_p {
    color:#edebd7
}

.carButtonMob {
  display: none;
}

@media (max-width: 576px) {

  .item {
    flex-direction: column-reverse;

    /* 🔥 клучното */
    /* padding-top: 10vh;  */

    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #6e675f;
  }

  .item_content {
    /* position: relative; */
    width: 100%;
    height: 59dvh;
    padding: 1.8rem;
  }
  

  .item_content h2 {
    font-size: 18px;
  }

  .item_content p {
    font-size: 15px;
  }
  .carButton {
    display: none;
  }

  .carButtonMob {
    display: block;
    padding-top: 7%;
  }
}

