.videoSection {
  height: 110vh;
  background-color: #edebd7;
  padding: 6%;
  overflow: hidden;
}

.videoDiv {
  position: relative;
  height: 60vh;
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px #e3b23c;
}

.videoDiv video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlayContainer {
  position: relative;
  display: flex;
  
}

.overlayLink {
  display: flex;
  align-items: center;
  gap: 50px;
  text-decoration: none;
  cursor: pointer;
}

.overlayText {
  font-size: 9vw;
  color: black;
  padding-top: 5%;
  letter-spacing: 4px;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.overlayLink:hover .overlayText {
  transform: scale(1.05);
  opacity: 0.9;
}

.overlayImg {
  width: 400px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.overlayLink:hover .overlayImg {
  transform: scale(1.05);
}


@media (max-width: 769px) {
   .videoSection {
  height: 80vh;
  padding: 6%;

}
.videoDiv {
 margin-top: 12%;
  height: 50vh;
  width: 100%;
}

.overlayLink {
  gap: 10px;
  margin-top: 12%;
}

.overlayImg {
  width: 100px; }

}

@media (max-width: 426px) {
     .videoSection {
  height: 80vh;
 
  padding: 6%;

     }

     .videoDiv {
 margin-top: 12%;
  height: 50vh;
  width: 100%;
}

}
